.aboutContainer {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  width: 100%;
}
.card {
  padding: 2rem;
  margin: 2rem;
  max-width: 70%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
}
.card h2 {
  font-size: 3rem;
  text-align: center;
}

.card p {
  margin: 0;
  font-size: 1.2rem;
  line-height: 1.5;
  text-align: justify;
  transition: opacity 0.3s ease-in-out;
}
.card b {
  color: #7843e9;
}
.divider {
  width: 3%;
  height: 7px;
  background-color: var(--purple-default);
  border-radius: 30px;
  align-self: center;
  margin: 2rem;
  filter: opacity(0.5);
  @media (max-width: 768px) {
    width: 30%;
  }
}
.bounceIn {
  animation: slide-in 0.2s cubic-bezier(0.2, 0.3, 0.3, 1) both;
}


.hidden {
  opacity: 0;
}

@keyframes slide-in{
  0% {
            transform: translateY(100px) scaleY(1.5) scaleX(0.2);
            transform-origin: 50% 100%;
            filter: blur(40px);
    opacity: 0;
  }
  100% {
            transform: translateY(0) scaleY(1) scaleX(1);
            transform-origin: 50% 50%;
            filter: blur(0);
    opacity: 1;
  }
}

