:root {

  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

  --purple-default:#877ed6;
  --purple-hover:#6554af;
  --purple-disabled:#e6e8f9;
  --purple-text-disabled:#9897e2;
  --purple-clear: #d1d4f4;

  --purple-dark: #292442;
  --purple-highlight: #6554af;
  --purple-light: #f1f3fc;
  --gray-dark: #2b2730;
  --gray-medium: #776d8a;
  --gray-light: #efedf1;
  --light-purple: #9575DE;

}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
  font-family: var(--font-mono)
}

body.light {
  --background-color: #ffffff;
  --text-color: #2B2730;
}

body.dark {
  --background-color: #2B2730;
  --text-color: #ffffff;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: light) {
  html {
    color-scheme: light;
  }
}
