.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
}

.imagecontainer {
  width: 300px;
    height: 300px;
    text-align-last: center;
    border-radius: 50%;
    overflow: hidden; 
    position: relative;
    margin-top: 6rem;
    margin-bottom: 2rem;
}
.image{
  width: 150%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  object-position: -70px -100px;
}

.title {
  margin: 2rem;  
  font-size: 2rem;
  color: #444444;
  width: 70%;
  height: 4rem;
  text-align: center;
}

.bio {
  text-align: center;
  margin: 2.5rem;
}
.bioIcons{
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding: 1rem;
}

.iconLinkedin{
  position: absolute;
  width: 24px;
  height: 24px;
  background-image: url('/icons/in.png');
  background-size: contain;
  background-repeat: no-repeat;
  transition: opacity 200ms, transform 0.4s; /* Transição para opacidade e deslocamento */
}

.iconGithub{
  position: absolute;
  width: 24px;
  height: 24px;
  background-image: url('/icons/git.png');
  background-size: contain;
  background-repeat: no-repeat;
  transition: opacity 200ms, transform 0.4s; /* Transição para opacidade e deslocamento */
}
.iconLinkedin{
  position: absolute;
  width: 24px;
  height: 24px;
  background-image: url('/icons/in.png');
  background-size: contain;
  background-repeat: no-repeat;
  transition: opacity 200ms, transform 0.4s; /* Transição para opacidade e deslocamento */
}
.iconLinkedin{
  position: absolute;
  width: 24px;
  height: 24px;
  background-image: url('/icons/in.png');
  background-size: contain;
  background-repeat: no-repeat;
  transition: opacity 200ms, transform 0.4s; /* Transição para opacidade e deslocamento */
}
.buttonContainer{
  padding: 1rem;
  display: flex;
  justify-content: center;
}
.bioButton{
  border: 2px solid white;
  border-radius: 20px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
  background-color: #7843E9;
}

.code {
  line-height: 1.5;
  padding-left: 2rem;  
  padding-right: 2rem;
  font-size: 1.2rem;
  padding: 1rem;
}

.cardContainer{
  /* background: #e7e7e7; */
  width: 100%;
  margin: 2rem;
  padding: 2rem;
}
.card {
  padding: 2rem;
  margin: 2rem;
  max-width: 70%;
  margin-left: auto;
  margin-right: auto;
  text-align: -webkit-center;
}
.card h2 {
  font-size: 3rem;
  text-align: center;
}
.card p {
  margin: 0;
  font-size: 1.5rem;
  line-height: 1.5;
  text-align: justify;
}
.card b{
  color: #7843E9;
}
.divider{
  width: 3%; /* extends across the entire width of the page */
  height: 7px; /* sets the height of the line */
  background-color: #7843E9;
  border-radius: 30px;
  align-self: center;
  margin: 2rem;
  filter: opacity(0.5);
  }


.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  justify-content: center;
  align-items: center;
}
.footer p {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}
.footer span{
  padding-inline: 0.25rem;
  transition: opacity 200ms, transform 0.4s;
  animation: pulse 1.5s ease-in-out infinite both;
}

.description {
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  font-size: 0.85rem;
  max-width: var(--max-width);
  width: 100%;
  z-index: 2;
}

.description a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.description p {
  position: relative;
  margin: 0;
  padding: 1rem;
  background-color: rgba(var(--callout-rgb), 0.5);
  border: 1px solid rgba(var(--callout-border-rgb), 0.3);
  border-radius: var(--border-radius);
}

.code {
  font-weight: 700;
  font-family: var(--font-mono);
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  30% {
    animation-timing-function: ease-in;
    transform: scale(0.95);
  }
  60% {
    transform: scale(1);
  }
  70% {
    transform: scale(1.25);
  }
  80% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.25);
    animation-timing-function: ease-in-out;
  }
}
@keyframes slide-top {
  0% {
    transform: translateY(100px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-out-bottom {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(50px);
    opacity: 0;
  }
}
@keyframes blur-in {
  0% {
    filter: blur(0);
  }
  100% {
    filter: blur(5px);
  }
}

