.container {
  padding: 0%;
}

.main {
  min-height: 100vh;
  padding: 0%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
  color: #fafafa;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}
.menuStyle{
  align-items:center;
  height: 5;
  width: 100%;
  margin: 0%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 2.2), 0 6px 20px 0 rgba(0, 0, 0, 1.19);
  border-radius: 10px; 
  position: fixed;
  z-index: 1;
}
.menuStyle a {  
  justify-content: space-evenly;
  font-size:110%;
  line-height: 100%;
  display:inline-flex;
  justify-content: center;
  align-items: center;
  padding-right: 1rem;
}
.menuContainer{
  display: flex;
}

.imgnavbar {
  padding-right: 1rem;
}

.menuStyle:hover,
.menuStyle:focus,
.menuStyle:active {
  color: #4527a0;
}

.imagecontainer {
  max-width: 1080px;
  width: 100%;
  display: block;
  position: relative;
}

.image{
  max-width: 1080px;   /* Máximo da largura da imagem */
  width: 100%;
  max-height: 500px;  /* Máximo da altura da imagem */
  min-height: auto;      /* Mínimo da altura, por padrão “auto” */
  background-size:100%;
  background-repeat: no-repeat;
  display: contents;
}

.bio {
  padding-top: 5rem;
  text-align: center;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.tech {
  padding-bottom: 5px;
}
.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
  color: #fafafa;
  left: 10%;
}

.title,
.description {
  text-align: center;
}



.code {
  background: #fafafa;
  border-radius: 10px;
  line-height: 1.5;
  padding: 0.75rem;
  padding-left: 2rem;  
  padding-right: 2rem;
  margin-top: 5rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
    color: #4527a0;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.cardBoard{
  background: #fafafa;
  width: 100%;
  margin-top: 5rem;
  
}

.card {
  margin: 10rem;
  padding: 2.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #221041;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 650px;
  margin-left: auto;
  margin-right: auto;
  
}

.card:hover,
.card:focus,
.card:active {
  color: #4527a0;
  border-color: #4527a0;
}

.card h2 {
  margin: 0 0 1rem;
  padding-bottom: 2rem;
  font-size: 1.5rem;
  color: #221041;
}


.card b{
  color: #221041;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
  color:#221041;
  text-align: justify;
}

.buttons {  
  padding-top:1rem;
  padding-left: 29rem;
}


.langform{
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 2rem;
}

.contact{
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 2rem;
}

.contactBox{
  padding-top: 5rem;
  text-align: center;
  width: 100%;
}

.contactBox h2{
  color: #221041;
}
.contact a{
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
    color: #221041;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

@media screen and (max-width: 960px) {
  .p-menubar.p-menubar-mobile-active .p-menubar-root-list {
    width: auto !important;
    display: flex;
    flex-direction: column;
    top: 100%;
    left: 0;
    z-index: 1;
  }
}

