.navbar {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  z-index: 100;
  opacity: 90%;
}
.darkNavbar{
background-color: var(--gray-light);
}
.lightNavbar{
  background-color: var(--gray-dark);
}
.navList {
  display: flex;
  list-style: none;
}

.navItem {
  margin: 0 1rem;
  cursor: pointer;
  transition: color 0.3s;
}

.navItem:hover {
  color: var(--purple-hover); /* Cor de hover */
}

/* Switch */
.switch {
  position: relative;
  display: inline-block;
  width: 80px;
  height: 40px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* Slider */
.slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--gray-medium);
  border-radius: 20px;
  transition: 0.4s;
  cursor: pointer;
}

input:checked + .slider {
  background-color: var(--purple-default);
}

/* Bolinha deslizante */
.slider:before {
  position: absolute;
  content: "";
  height: 30px;
  width: 30px;
  left: 5px;
  bottom: 5px;
  background-color: var(--purple-light);
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider:before {
  transform: translateX(40px);
}

.icon {
  position: absolute;
  top: 50%;
  left: 8px;
  transform: translateY(-50%) translateX(0); /* Adiciona translateX */
  width: 24px;
  height: 24px;
  background-image: url('/icons/sun.png');
  background-size: contain;
  background-repeat: no-repeat;
  transition: opacity 200ms, transform 0.4s; /* Transição para opacidade e deslocamento */
  opacity: 1;
}

/* Imagem da Lua */
.iconMoon {
  position: absolute;
  top: 50%;
  right: 28px;
  transform: translateY(-50%) translateX(0); /* Adiciona translateX */
  width: 24px;
  height: 24px;
  background-image: url('/icons/moon.png');
  background-size: contain;
  background-repeat: no-repeat;
  transition: opacity 200ms, transform 0.4s; /* Transição para opacidade e deslocamento */
  opacity: 0;
}

/* Quando o input estiver "checked" (dark mode ativo) */
input:checked + .slider .icon {
  opacity: 0;
  transform: translateY(-50%) translateX(20px); /* Desloca o sol para a esquerda */
}

input:checked + .slider .iconMoon {
  opacity: 1;
  transform: translateY(-50%) translateX(20px); /* Desloca a lua para a direita */
}

.switchers {
  display: flex;
  gap: 0.5rem;
}

.languageButton {
  background-color: var(--gray-medium);
  border: none;
  border-radius: 20px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.languageButton:hover {
  background-color: var(--purple-hover);
}

.active {
  background-color: var(--purple-default);
  color: white;
}


/* .menubar{
    padding: 1rem;
    padding-inline-start: 5rem;
    padding-inline-end: 5rem;
    border-radius: 0;
    border: none;
    background-color:rgb(255, 255, 255);
    box-shadow: 0 10px 100px rgba(0,0,0,0.1);
    position: fixed;
    width: -webkit-fill-available;
    z-index: 2;
}

.menubar a{
    padding-inline: 2rem;
}
.menubar span:hover{
    color: #7843E9;
}
.menubar [class="p-button-label p-c"]{
    color: #e7e7e7;
}
.menubar [class="p-button p-component p-highlight"],
.menubar [class="p-button p-component p-highlight p-focus"]
{
    background-color: #7843E9;
}
.menubar span{
    color: black;
    font-weight: bold;
    font-size: 1.2rem;
}
.menubar div{
    margin-left: auto;
}

@media (max-width: 700px) {
    .menubar{
        padding: 1rem;
        border-radius: 0;
        border: none;
        background-color:rgb(255, 255, 255);
        box-shadow: 0 10px 100px rgba(0,0,0,0.1);
        position: fixed;
        width: -webkit-fill-available;
        z-index: 2;
    }
    .menubar [class="p-menuitem-text"]{
        font-size: 1rem;
        margin: 0.5rem;
      }
    .menubar [class="p-menubar-button"]{
        padding-inline: 0rem;
        background-color: black;
    }
    .menubar [class="p-menubar-root-list"]{
        background-color: rgb(218, 218, 218)
    }
  
  } */